
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index Page</title>
</head>
<body>
    <h1>Вывод таблицы MedicalCard на web-страницу</h1>
    <table>
        <tr>
            <td>id</td>
            <td>idPatient</td>
            <td>Patient</td>
            <td>idDoctor</td>
            <td>Doctor</td>
            <td>idDiagnosis</td>
            <td>Diagnosis</td>
            <td>DateOfVisit</td>
            <td>ReaseachProtacol</td>
            <td>Recomendatein</td>
            <td>Conclusion</td>
        </tr>
    </table>
</body>
</html>